/* line 48, ../sass/global.sass */
.z-1, #frame-109 .electron {
  z-index: 1;
}

/* line 48, ../sass/global.sass */
.z-2, #frame-109 .basket {
  z-index: 2;
}

/* line 48, ../sass/global.sass */
.z-3, #frame-108 .elem, #frame-114 .sketchpad-controls {
  z-index: 3;
}

/* line 48, ../sass/global.sass */
.z-4, #frame-301 .check-button, #frame-301 .back-button {
  z-index: 4;
}

/* line 48, ../sass/global.sass */
.z-5, #frame-117 .basket {
  z-index: 5;
}

/* line 48, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 48, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 48, ../sass/global.sass */
.z-8, #frame-109 .true-false {
  z-index: 8;
}

/* line 48, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 48, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 48, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 48, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 48, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 48, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 48, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 48, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 48, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 48, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 48, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 48, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 51, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 59, ../sass/global.sass */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 73, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 77, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-000 .planes-animated, #frame-101 .bg-1, #frame-101 .bg-2, #frame-101 .bg-3, #frame-103 .bg-1, #frame-103 .bg-2, #frame-104 .bg, #frame-105 .bg-1, #frame-105 .bg-2, #frame-105 .bg-3, #frame-105 .bg-4, #frame-105 .scheme, #frame-106 .bg, #frame-106 .el, #frame-107 .bg, #frame-107 .anim, #frame-107 .roll, #frame-108 .bg, #frame-109 .bg, #frame-109 .electron, #frame-109 .true-false, #frame-114 .bg-base, #frame-115 .bg, #frame-116 .bg, #frame-116 .zoom-in, #frame-116 .ai-o, #frame-117 .bg-base, #frame-118 .bg-base, #frame-119 .bg-base, #frame-119 .boy-1, #frame-119 .boy-2, #frame-201 .bg-base, #frame-202 .bg, #frame-202 .turbine, #frame-202 .plane-blink, #frame-301 .bg-base, #frame-301 .question-1, #frame-301 .answer {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 86, ../sass/global.sass */
.absolute, .menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research, #frame-000 .atom-1, #frame-000 .atom-2, #frame-103 .cloud, #frame-105 .bulb, #frame-107 .filling, #frame-107 .roll-button, #frame-107 .next-frame-button, #frame-108 .elem, #frame-109 .ball-container, #frame-109 .basket, #frame-109 .basket .point, #frame-109 .next-frame-button, #frame-109 .new-element-button, #frame-114 .button-container, #frame-114 .arrow, #frame-114 .sketchpad-container, #frame-114 #responsive-sketchpad, #frame-114 .sketchpad-controls, #frame-114 .next-frame-button, #frame-114 .new-pic-button, #frame-115 .boy-thinking, #frame-115 .cloud, #frame-117 .label, #frame-117 .basket, #frame-117 .element, #frame-117 .arrow, #frame-117 .info, #frame-117 .timer, #frame-118 .plane, #frame-118 .plane-2, #frame-119 .bulb, #frame-201 .plane-button, #frame-202 .turbine-button, #frame-202 .question, #frame-202 .answer-1, #frame-202 .answer-2, #frame-202 .answer-3, #frame-202 .elname, #frame-202 .award, #frame-301 .check-button, #frame-301 .back-button {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 91, ../sass/global.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 98, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 105, ../sass/global.sass */
* {
  font-family: Verdana;
}

/* line 110, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*PRE LOAD */
/* line 115, ../sass/global.sass */
#pre-load {
  background-color: gainsboro;
}

/* line 118, ../sass/global.sass */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU */
/* line 128, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 141, ../sass/global.sass */
.frame {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAM 000 (TITLE PAGE) */
/* line 149, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/s0-bg.png);
}

/* line 152, ../sass/global.sass */
.menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research {
  font-size: 3vmax;
  color: white;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}

/* line 160, ../sass/global.sass */
#frame-000 .airports {
  left: 31.2%;
  top: 22.7%;
  width: 42.3%;
  height: 12.4%;
  background-image: url(../pics/s0-airports-bg.png);
}

/* line 165, ../sass/global.sass */
#frame-000 .airports:hover {
  background-image: url(../pics/s0-airports-bg-hover.png);
}

/* line 168, ../sass/global.sass */
#frame-000 .test {
  left: 42.3%;
  top: 40.5%;
  width: 11.4%;
  height: 13.4%;
  background-image: url(../pics/s0-test-bg.png);
}

/* line 173, ../sass/global.sass */
#frame-000 .test:hover {
  background-image: url(../pics/s0-test-bg-hover.png);
  color: black;
}

/* line 177, ../sass/global.sass */
#frame-000 .research {
  left: 39.2%;
  top: 58.4%;
  width: 19.6%;
  height: 11.7%;
  background-image: url(../pics/s0-research-bg.png);
}

/* line 182, ../sass/global.sass */
#frame-000 .research:hover {
  background-image: url(../pics/s0-research-bg-hover.png);
  color: black;
}

/* line 186, ../sass/global.sass */
#frame-000 .atom-1 {
  left: 75.3%;
  top: 44.3%;
  width: 29.8%;
  height: 59.6%;
  background-image: url(../pics/s0-atom-1.png);
}

/* line 191, ../sass/global.sass */
#frame-000 .atom-2 {
  left: -3.4%;
  top: -3.5%;
  width: 24%;
  height: 47.8%;
  background-image: url(../pics/s0-atom-2.png);
}

/* line 196, ../sass/global.sass */
#frame-000 .planes-animated {
  background-image: url(../pics/s0-planes-animated.gif);
}

/*FRAME 101 */
/* line 202, ../sass/global.sass */
#frame-101 .bg-1 {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 206, ../sass/global.sass */
#frame-101 .bg-2 {
  background-image: url(../pics/s1-bg-2.png);
}

/* line 210, ../sass/global.sass */
#frame-101 .bg-3 {
  background-image: url(../pics/s1-bg-3.png);
}

/*FRAME 102 */
/* line 216, ../sass/global.sass */
#frame-102 {
  background-image: url(../pics/s2-bg.png);
}

/* line 219, ../sass/global.sass */
#frame-102 .bor {
  background-image: url(../pics/s2-bor.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.25%;
  top: 21.1%;
  width: 36.3%;
  height: 57.2%;
}

/* line 228, ../sass/global.sass */
#frame-102 .proton {
  background-image: url(../pics/s2-proton.png);
}

/* line 231, ../sass/global.sass */
#frame-102 .neutron {
  background-image: url(../pics/s2-neutron.png);
}

/* line 234, ../sass/global.sass */
#frame-102 .number-five, #frame-102 .number-five-light {
  background-size: 100% 100%;
  position: absolute;
  left: 87.85%;
  top: 49.7%;
  width: 2.5%;
  height: 7.8%;
}

/* line 242, ../sass/global.sass */
#frame-102 .number-five {
  background-image: url(../pics/s2-number-five.png);
}

/* line 245, ../sass/global.sass */
#frame-102 .number-five-light {
  background-image: url(../pics/s2-number-five-light.png);
}

/* line 248, ../sass/global.sass */
#frame-102 .number-two, #frame-102 .number-two-light {
  background-size: 100% 100%;
  position: absolute;
  left: 57.3%;
  top: 57.5%;
  width: 2.6%;
  height: 7.8%;
}

/* line 256, ../sass/global.sass */
#frame-102 .number-two {
  background-image: url(../pics/s2-number-two.png);
}

/* line 259, ../sass/global.sass */
#frame-102 .number-two-light {
  background-image: url(../pics/s2-number-two-light.png);
}

/* line 262, ../sass/global.sass */
#frame-102 .number-three, #frame-102 .number-three-light {
  background-size: 100% 100%;
  position: absolute;
  left: 73.9%;
  top: 24.2%;
  width: 3.44%;
  height: 7.5%;
}

/* line 270, ../sass/global.sass */
#frame-102 .number-three {
  background-image: url(../pics/s2-number-three.png);
}

/* line 273, ../sass/global.sass */
#frame-102 .number-three-light {
  background-image: url(../pics/s2-number-three-light.png);
}

/* line 276, ../sass/global.sass */
#frame-102 .formula {
  background-image: url(../pics/s2-formula.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 81.3%;
  width: 13.9%;
  height: 6.1%;
}

/* line 285, ../sass/global.sass */
#frame-102 .formula-two {
  background-image: url(../pics/s2-formula-two.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 90.8%;
  width: 14.5%;
  height: 4.8%;
}

/* line 294, ../sass/global.sass */
#frame-102 .levels {
  background-image: url(../pics/s2-levels.png);
}

/* line 297, ../sass/global.sass */
#frame-102 .nucleus {
  background-image: url(../pics/s2-round.png);
}

/* line 300, ../sass/global.sass */
#frame-102 .two-electrons {
  background-image: url(../pics/s2-2-electrons.png);
}

/* line 303, ../sass/global.sass */
#frame-102 .three-electrons {
  background-image: url(../pics/s2-3-electrons.png);
}

/*FRAME 103 */
/* line 308, ../sass/global.sass */
#frame-103 {
  background-image: url(../pics/room-bg.png);
}

/* line 311, ../sass/global.sass */
#frame-103 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 315, ../sass/global.sass */
#frame-103 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  background-size: 400%;
  background-position: 45% 40%;
}

/* line 322, ../sass/global.sass */
#frame-103 .cloud {
  background-image: url(../pics/cloud.png);
  background-size: 100% 100%;
  left: 51.9%;
  top: 2.7%;
  width: 46.45%;
  height: 65.3%;
  font-size: 2vmax;
  color: black;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10%;
}

/*FRAME 104 */
/* line 335, ../sass/global.sass */
#frame-104 .bg {
  background-image: url(../pics/s4-bg.png);
}

/*FRAME 105 */
/* line 341, ../sass/global.sass */
#frame-105 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 345, ../sass/global.sass */
#frame-105 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 349, ../sass/global.sass */
#frame-105 .bg-3 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 353, ../sass/global.sass */
#frame-105 .bg-4 {
  background-image: url(../pics/s5-scheme-bg.png);
}

/* line 357, ../sass/global.sass */
#frame-105 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/* line 362, ../sass/global.sass */
#frame-105 .scheme {
  background-image: url(../pics/s5-scheme.png);
  background-size: 600% 100%;
}

/*FRAME 106 */
/* line 369, ../sass/global.sass */
#frame-106 .bg {
  background-image: url(../pics/s6-bg.png);
}

/* line 377, ../sass/global.sass */
#frame-106 .el-1 {
  background-image: url(../pics/s6-1.png);
}

/* line 377, ../sass/global.sass */
#frame-106 .el-2 {
  background-image: url(../pics/s6-2.png);
}

/* line 377, ../sass/global.sass */
#frame-106 .el-3 {
  background-image: url(../pics/s6-3.png);
}

/* line 377, ../sass/global.sass */
#frame-106 .el-4 {
  background-image: url(../pics/s6-4.png);
}

/* line 377, ../sass/global.sass */
#frame-106 .el-5 {
  background-image: url(../pics/s6-5.png);
}

/*FRAME 107 */
/* line 382, ../sass/global.sass */
#frame-107 .bg {
  background-image: url(../pics/s7-bg.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-1 {
  background-image: url(../pics/s7-anim-1.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-2 {
  background-image: url(../pics/s7-anim-2.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-3 {
  background-image: url(../pics/s7-anim-3.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-4 {
  background-image: url(../pics/s7-anim-4.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-5 {
  background-image: url(../pics/s7-anim-5.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-6 {
  background-image: url(../pics/s7-anim-6.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-7 {
  background-image: url(../pics/s7-anim-7.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-8 {
  background-image: url(../pics/s7-anim-8.png);
}

/* line 390, ../sass/global.sass */
#frame-107 .anim-9 {
  background-image: url(../pics/s7-anim-9.png);
}

/* line 393, ../sass/global.sass */
#frame-107 .filling {
  background-image: url(../pics/s7-filling.gif);
  left: 16.9%;
  top: 34.2%;
  width: 43.3%;
  height: 61.4%;
  background-position: center;
  background-size: 90%;
}

/* line 400, ../sass/global.sass */
#frame-107 .roll {
  background-image: url(../pics/s7-roll.png);
}

/* line 404, ../sass/global.sass */
#frame-107 .roll-button {
  left: 82.3%;
  top: 1.7%;
  width: 13.55%;
  height: 17.8%;
  background-image: url(../pics/s7-roll-button.png);
  cursor: pointer;
}

/* line 410, ../sass/global.sass */
#frame-107 .roll-button:hover {
  background-image: url(../pics/s7-roll-button-hover.png);
}

/* line 413, ../sass/global.sass */
#frame-107 .next-frame-button {
  left: 69.7%;
  top: 76%;
  width: 27.35%;
  height: 19.9%;
  background-image: url(../pics/s7-next-button.png);
  background-size: 200% 100%;
  font-size: 3vmax;
  padding: 3%;
  color: white;
}

/* line 423, ../sass/global.sass */
#frame-107 .next-frame-button:hover {
  background-position: 100% 0%;
}

/*FRAME 108 */
/* line 428, ../sass/global.sass */
#frame-108 .bg {
  background-image: url(../pics/s2-bg.png);
}

/* line 432, ../sass/global.sass */
#frame-108 .elem {
  border-radius: 10px;
}

/* line 437, ../sass/global.sass */
#frame-108 .elem:hover {
  box-shadow: 0px 0px 10px 10px gray;
  -moz-box-shadow: 0px 0px 10px 10px gray;
  -o-box-shadow: 0px 0px 10px 10px gray;
  -webkit-box-shadow: 0px 0px 10px 10px gray;
  -ms-box-shadow: 0px 0px 10px 10px gray;
}

/* line 440, ../sass/global.sass */
#frame-108 .Ca {
  left: 14.3%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Ca.png);
}

/* line 444, ../sass/global.sass */
#frame-108 .Li {
  left: 14.3%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Li.png);
}

/* line 448, ../sass/global.sass */
#frame-108 .O {
  left: 52.1%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-O.png);
}

/* line 452, ../sass/global.sass */
#frame-108 .Cl {
  left: 52.1%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Cl.png);
}

/* line 456, ../sass/global.sass */
#frame-108 .keep-thinking {
  padding-top: 6%;
}

/*FRAME 109 */
/* line 464, ../sass/global.sass */
#frame-109 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 471, ../sass/global.sass */
#frame-109 .s1 {
  background-image: url(../pics/s9-1s.png);
}

/* line 474, ../sass/global.sass */
#frame-109 .s2 {
  background-image: url(../pics/s9-2s.png);
}

/* line 477, ../sass/global.sass */
#frame-109 .s3 {
  background-image: url(../pics/s9-3s.png);
}

/* line 480, ../sass/global.sass */
#frame-109 .s4 {
  background-image: url(../pics/s9-4s.png);
}

/* line 483, ../sass/global.sass */
#frame-109 .p2 {
  background-image: url(../pics/s9-2p.png);
}

/* line 486, ../sass/global.sass */
#frame-109 .p3 {
  background-image: url(../pics/s9-3p.png);
}

/* line 489, ../sass/global.sass */
#frame-109 .bg-ca {
  background-image: url(../pics/s9-bg-ca.png);
}

/* line 492, ../sass/global.sass */
#frame-109 .ball-container {
  left: 81.1%;
  top: 5.9%;
  width: 17%;
  height: 20.8%;
  background-color: #3e8848;
  border: 3px solid black;
}

/* line 498, ../sass/global.sass */
#frame-109 .ball-container .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 505, ../sass/global.sass */
#frame-109 .ball-up {
  background-image: url(../pics/s9-plane.png);
}

/* line 508, ../sass/global.sass */
#frame-109 .ball-container .ball-up:hover {
  background-image: url(../pics/s9-plane.png), url(../pics/s9-plane-light.png);
}

/* line 511, ../sass/global.sass */
#frame-109 .ball-container .ball-down:hover {
  background-image: url(../pics/s9-plane-down.png), url(../pics/s9-plane-down-light.png);
}

/* line 514, ../sass/global.sass */
#frame-109 .ball-down {
  background-image: url(../pics/s9-plane-down.png);
}

/* line 521, ../sass/global.sass */
#frame-109 .basket .point {
  left: 45%;
  top: 55%;
  width: 50%;
  height: 40%;
  background-image: url(../pics/s9-point.png);
  background-position: center;
  background-size: 50% 100%;
  z-index: 5;
}

/* line 529, ../sass/global.sass */
#frame-109 .basket .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 536, ../sass/global.sass */
#frame-109 .basket-1s {
  left: 44.65%;
  top: 0%;
  width: 13.9%;
  height: 15.4%;
}

/* line 539, ../sass/global.sass */
#frame-109 .basket-2s {
  left: 44.75%;
  top: 16.5%;
  width: 13.75%;
  height: 16.2%;
}

/* line 542, ../sass/global.sass */
#frame-109 .basket-2p-1 {
  left: 44.75%;
  top: 32.8%;
  width: 13.9%;
  height: 16.3%;
}

/* line 545, ../sass/global.sass */
#frame-109 .basket-2p-2 {
  left: 58.7%;
  top: 32.8%;
  width: 13.9%;
  height: 16.2%;
}

/* line 548, ../sass/global.sass */
#frame-109 .basket-2p-3 {
  left: 72.55%;
  top: 32.9%;
  width: 14.0%;
  height: 16.1%;
}

/* line 551, ../sass/global.sass */
#frame-109 .basket-3s {
  left: 44.65%;
  top: 50%;
  width: 13.9%;
  height: 16.4%;
}

/* line 554, ../sass/global.sass */
#frame-109 .basket-3p-1 {
  left: 44.75%;
  top: 66.3%;
  width: 13.8%;
  height: 16.3%;
}

/* line 557, ../sass/global.sass */
#frame-109 .basket-3p-2 {
  left: 58.7%;
  top: 66.4%;
  width: 13.9%;
  height: 16.1%;
}

/* line 560, ../sass/global.sass */
#frame-109 .basket-3p-3 {
  left: 72.55%;
  top: 66.3%;
  width: 13.95%;
  height: 16.2%;
}

/* line 563, ../sass/global.sass */
#frame-109 .basket-4s {
  left: 44.65%;
  top: 83.7%;
  width: 13.9%;
  height: 16.2%;
}

/* line 566, ../sass/global.sass */
#frame-109 .next-frame-button {
  left: 62.5%;
  top: 87%;
  width: 19.3%;
  height: 10.3%;
  background-image: url(../pics/s9-next-button.png);
  font-size: 2.5vmax;
  color: white;
  padding: 1%;
  padding-left: 2%;
}

/* line 575, ../sass/global.sass */
#frame-109 .next-frame-button:hover {
  background-image: url(../pics/s9-next-button-hover.png);
}

/* line 578, ../sass/global.sass */
#frame-109 .new-element-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 2vmax;
  color: white;
  padding: 2%;
}

/* line 586, ../sass/global.sass */
#frame-109 .new-element-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/* line 589, ../sass/global.sass */
#frame-109 .true-false {
  background-image: url(../pics/s9-true-false.png);
}

/*FRAME 114 */
/* line 596, ../sass/global.sass */
#frame-114 .bg-base {
  background-image: url(../pics/s14-bg.png);
}

/* line 600, ../sass/global.sass */
#frame-114 .button-container {
  left: 3.15%;
  top: 4.6%;
  width: 95.75%;
  height: 18%;
}

/* line 604, ../sass/global.sass */
#frame-114 .button-container .button {
  width: 12.5%;
  height: 100%;
  float: left;
}

/* line 609, ../sass/global.sass */
#frame-114 .button-container .button:hover {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 615, ../sass/global.sass */
#frame-114 .be {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-be.png);
}

/* line 619, ../sass/global.sass */
#frame-114 .c {
  left: 8%;
  top: 30.3%;
  width: 15.7%;
  height: 45%;
  background-image: url(../pics/s14-c.png);
}

/* line 623, ../sass/global.sass */
#frame-114 .f {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-f.png);
}

/* line 627, ../sass/global.sass */
#frame-114 .b {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 45%;
  background-image: url(../pics/s14-b.png);
}

/* line 631, ../sass/global.sass */
#frame-114 .li {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-li.png);
}

/* line 635, ../sass/global.sass */
#frame-114 .n {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-n.png);
}

/* line 639, ../sass/global.sass */
#frame-114 .ne {
  left: 8%;
  top: 30.3%;
  width: 32.35%;
  height: 45%;
  background-image: url(../pics/s14-ne.png);
}

/* line 643, ../sass/global.sass */
#frame-114 .o {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-o.png);
}

/* line 647, ../sass/global.sass */
#frame-114 .sketchpad-container {
  left: 43.55%;
  top: 26.1%;
  width: 54.35%;
  height: 70.7%;
}

/* line 651, ../sass/global.sass */
#frame-114 #responsive-sketchpad {
  background-image: url(../pics/s14-area.png);
  background-size: 100% 100%;
}

/* line 656, ../sass/global.sass */
#frame-114 .sketchpad-controls {
  left: 43.55%;
  top: 26.1%;
  width: 27%;
  height: 5%;
}

/* line 661, ../sass/global.sass */
#frame-114 .sketch-control {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2vmax;
  cursor: pointer;
}

/* line 669, ../sass/global.sass */
#frame-114 .sketch-control:hover {
  font-size: 2.5vmax;
}

/* line 672, ../sass/global.sass */
#frame-114 .sketch-control#red {
  color: red;
}

/* line 675, ../sass/global.sass */
#frame-114 .sketch-control#blue {
  color: blue;
}

/* line 678, ../sass/global.sass */
#frame-114 .keep-thinking {
  padding-top: 7%;
  font-size: 2vmax;
}

/* line 682, ../sass/global.sass */
#frame-114 .next-frame-button {
  left: 62.5%;
  top: 87%;
  width: 19.3%;
  height: 10.3%;
  background-image: url(../pics/s9-next-button.png);
  font-size: 2.5vmax;
  color: white;
  padding: 1%;
  padding-left: 2%;
}

/* line 691, ../sass/global.sass */
#frame-114 .next-frame-button:hover {
  background-image: url(../pics/s9-next-button-hover.png);
}

/* line 694, ../sass/global.sass */
#frame-114 .new-pic-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 2vmax;
  color: white;
  padding: 2%;
}

/* line 702, ../sass/global.sass */
#frame-114 .new-pic-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/*FRAME 115 */
/* line 707, ../sass/global.sass */
#frame-115 .bg {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 711, ../sass/global.sass */
#frame-115 .boy-thinking {
  left: 30.95%;
  top: 14.2%;
  width: 36.45%;
  height: 85.8%;
  background-image: url(../pics/s15-boy-thinking.png);
}

/* line 716, ../sass/global.sass */
#frame-115 .cloud {
  left: 51.9%;
  top: 2.7%;
  width: 46.5%;
  height: 65.3%;
  background-image: url(../pics/s15-cloud.png);
  text-align: center;
  font-style: italic;
  font-size: 2vmax;
  padding: 4%;
  padding-top: 8%;
  padding-left: 10%;
}

/*FRAME 116 */
/* line 729, ../sass/global.sass */
#frame-116 .bg {
  background-image: url(../pics/s16-bg.png);
}

/* line 734, ../sass/global.sass */
#frame-116 .zoom-in {
  background-image: url(../pics/s16-zoom-in.png);
}

/* line 738, ../sass/global.sass */
#frame-116 .ai-o {
  background-image: url(../pics/s16-ai-o.png);
}

/*FRAME 117 */
/* line 744, ../sass/global.sass */
#frame-117 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 748, ../sass/global.sass */
#frame-117 .label {
  background-image: url(../pics/s9-next-button-hover.png);
  font-size: 2vmax;
  padding: 2%;
  color: white;
  font-style: italic;
}

/* line 756, ../sass/global.sass */
#frame-117 .label-1 {
  left: 1.95%;
  top: 3%;
  width: 27.4%;
  height: 21.4%;
  font-weight: bold;
}

/* line 760, ../sass/global.sass */
#frame-117 .label-2 {
  left: 1.95%;
  top: 34.6%;
  width: 27.4%;
  height: 21.4%;
}

/* line 763, ../sass/global.sass */
#frame-117 .label-3 {
  left: 1.95%;
  top: 67.4%;
  width: 27.4%;
  height: 21.4%;
}

/* line 766, ../sass/global.sass */
#frame-117 .basket {
  background-image: url(../pics/s17-brown.png);
  padding: 1.5%;
  color: white;
  font-size: 1.8vmax;
}

/* line 774, ../sass/global.sass */
#frame-117 .basket-1 {
  left: 63%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 777, ../sass/global.sass */
#frame-117 .basket-2 {
  left: 35.55%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 780, ../sass/global.sass */
#frame-117 .basket-3 {
  left: 35.75%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 783, ../sass/global.sass */
#frame-117 .basket-4 {
  left: 63%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 789, ../sass/global.sass */
#frame-117 .element-1 {
  left: 35.45%;
  top: 10%;
  width: 14.95%;
  height: 18.6%;
}

/* line 792, ../sass/global.sass */
#frame-117 .element-2 {
  left: 62.3%;
  top: 10.2%;
  width: 14.95%;
  height: 18.6%;
}

/* line 795, ../sass/global.sass */
#frame-117 .pair-1.element-1 {
  background-image: url(../pics/s17-na.png);
}

/* line 798, ../sass/global.sass */
#frame-117 .pair-1.element-2 {
  background-image: url(../pics/s17-s.png);
}

/* line 801, ../sass/global.sass */
#frame-117 .pair-2.element-1 {
  background-image: url(../pics/s17-mg.png);
}

/* line 804, ../sass/global.sass */
#frame-117 .pair-2.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 807, ../sass/global.sass */
#frame-117 .pair-3.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 810, ../sass/global.sass */
#frame-117 .pair-3.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 813, ../sass/global.sass */
#frame-117 .pair-4.element-1 {
  background-image: url(../pics/s17-c.png);
}

/* line 816, ../sass/global.sass */
#frame-117 .pair-4.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 819, ../sass/global.sass */
#frame-117 .pair-5.element-1 {
  background-image: url(../pics/s17-n.png);
}

/* line 822, ../sass/global.sass */
#frame-117 .pair-5.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 825, ../sass/global.sass */
#frame-117 .pair-6.element-1 {
  background-image: url(../pics/s17-o.png);
}

/* line 828, ../sass/global.sass */
#frame-117 .pair-6.element-2 {
  background-image: url(../pics/s17-f.png);
}

/* line 831, ../sass/global.sass */
#frame-117 .pair-7.element-1 {
  background-image: url(../pics/s17-k.png);
}

/* line 834, ../sass/global.sass */
#frame-117 .pair-7.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 837, ../sass/global.sass */
#frame-117 .pair-8.element-1 {
  background-image: url(../pics/s17-li.png);
}

/* line 840, ../sass/global.sass */
#frame-117 .pair-8.element-2 {
  background-image: url(../pics/s17-cl.png);
}

/* line 843, ../sass/global.sass */
#frame-117 .pair-9.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 846, ../sass/global.sass */
#frame-117 .pair-9.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 849, ../sass/global.sass */
#frame-117 .pair-10.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 852, ../sass/global.sass */
#frame-117 .pair-10.element-2 {
  background-image: url(../pics/s17-c.png);
}

/* line 858, ../sass/global.sass */
#frame-117 .up-arrow {
  background-image: url(../pics/s17-up.png);
}

/* line 861, ../sass/global.sass */
#frame-117 .up-arrow:hover {
  background-image: url(../pics/s17-up-hover.png);
}

/* line 864, ../sass/global.sass */
#frame-117 .down-arrow {
  background-image: url(../pics/s17-down.png);
}

/* line 867, ../sass/global.sass */
#frame-117 .down-arrow:hover {
  background-image: url(../pics/s17-down-hover.png);
}

/* line 870, ../sass/global.sass */
#frame-117 .up-arrow-1 {
  left: 57.3%;
  top: 34.2%;
  width: 2.59%;
  height: 3.59%;
}

/* line 873, ../sass/global.sass */
#frame-117 .down-arrow-1 {
  left: 57.3%;
  top: 37.9%;
  width: 2.6%;
  height: 3.6%;
}

/* line 876, ../sass/global.sass */
#frame-117 .up-arrow-2 {
  left: 84.6%;
  top: 34.7%;
  width: 2.59%;
  height: 3.59%;
}

/* line 879, ../sass/global.sass */
#frame-117 .down-arrow-2 {
  left: 84.6%;
  top: 38.4%;
  width: 2.59%;
  height: 3.6%;
}

/* line 882, ../sass/global.sass */
#frame-117 .up-arrow-3 {
  left: 57.3%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 885, ../sass/global.sass */
#frame-117 .down-arrow-3 {
  left: 57.3%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 888, ../sass/global.sass */
#frame-117 .up-arrow-4 {
  left: 84.6%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 891, ../sass/global.sass */
#frame-117 .down-arrow-4 {
  left: 84.6%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 894, ../sass/global.sass */
#frame-117 .info {
  background-image: url(../pics/s17-green.png);
  background-size: 100% 100%;
  padding: 1.5%;
  font-size: 1.8vmax;
  color: white;
}

/* line 902, ../sass/global.sass */
#frame-117 .charge-2 {
  left: 78.7%;
  top: 33.1%;
  width: 9%;
  height: 10.6%;
}

/* line 905, ../sass/global.sass */
#frame-117 .charge-1 {
  left: 51.45%;
  top: 32.6%;
  width: 9%;
  height: 10.6%;
}

/* line 908, ../sass/global.sass */
#frame-117 .index-2 {
  left: 78.7%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 911, ../sass/global.sass */
#frame-117 .index-1 {
  left: 51.45%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 914, ../sass/global.sass */
#frame-117 .keep-thinking {
  padding: 2%;
  padding-top: 6%;
  font-size: 2vmax;
}

/* line 919, ../sass/global.sass */
#frame-117 .result {
  padding: 2%;
  padding-top: 5%;
}

/* line 923, ../sass/global.sass */
#frame-117 .timer {
  left: 88.75%;
  top: 5.3%;
  width: 8.75%;
  height: 10%;
  border-radius: 10px;
  color: black;
  border: 3px solid red;
  background-color: white;
  padding: 0.5%;
  font-size: 2vmax;
  text-align: center;
}

/*FRAME 118 */
/* line 936, ../sass/global.sass */
#frame-118 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 940, ../sass/global.sass */
#frame-118 .plane {
  left: 20%;
  top: 120%;
  width: 60%;
  height: 60%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

/* line 947, ../sass/global.sass */
#frame-118 .plane-2 {
  left: 80%;
  top: 0%;
  width: 20%;
  height: 20%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
}

/*FRAME 119 */
/* line 955, ../sass/global.sass */
#frame-119 .bg-base {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 959, ../sass/global.sass */
#frame-119 .boy-1 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 963, ../sass/global.sass */
#frame-119 .boy-2 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 967, ../sass/global.sass */
#frame-119 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/*TEST */
/* line 974, ../sass/global.sass */
#frame-201 .bg-base {
  background-image: url(../pics/test-bg-1.png);
}

/* line 978, ../sass/global.sass */
#frame-201 .plane-button {
  background-image: url(../pics/plane-button.png);
  left: 81.95%;
  top: 71.2%;
  width: 6.5%;
  height: 12.8%;
}

/* line 983, ../sass/global.sass */
#frame-201 .plane-button:hover {
  background-image: url(../pics/plane-button-hover.png);
}

/* line 986, ../sass/global.sass */
#frame-202 .bg {
  background-image: url(../pics/test-bg-2.png);
}

/* line 990, ../sass/global.sass */
#frame-202 .turbine {
  background-image: url(../pics/test-turbine.gif);
}

/* line 994, ../sass/global.sass */
#frame-202 .turbine-button {
  border-radius: 50%;
  cursor: pointer;
}

/* line 999, ../sass/global.sass */
#frame-202 .turbine-button:hover {
  box-shadow: 0px 0px 5px 5px blue;
  -moz-box-shadow: 0px 0px 5px 5px blue;
  -o-box-shadow: 0px 0px 5px 5px blue;
  -webkit-box-shadow: 0px 0px 5px 5px blue;
  -ms-box-shadow: 0px 0px 5px 5px blue;
}

/* line 1002, ../sass/global.sass */
#frame-202 .turbine-button-left {
  left: 22.85%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

/* line 1005, ../sass/global.sass */
#frame-202 .turbine-button-right {
  left: 67.45%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

@-webkit-keyframes opacity {
  /* line 1019, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1021, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1023, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes opacity {
  /* line 1019, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1021, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1023, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes opacity {
  /* line 1019, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1021, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1023, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  /* line 1019, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1021, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1023, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

/* line 1026, ../sass/global.sass */
#frame-202 .plane-blink {
  background-image: url(../pics/test-plane-blink.png);
  animation: opacity 3s infinite;
  -ms-animation: opacity 3s infinite;
  -webkit-animation: opacity 3s infinite;
}

/* line 1033, ../sass/global.sass */
#frame-202 .task {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1036, ../sass/global.sass */
#frame-202 .question {
  left: 2%;
  top: 56.4%;
  width: 94.3%;
  height: 31.2%;
  background-image: url(../pics/test-question-bg.png);
  padding: 2%;
  font-size: 2vmax;
  color: white;
}

/* line 1044, ../sass/global.sass */
#frame-202 .answer {
  padding: 3%;
  padding-top: 7%;
  padding-left: 5%;
  font-size: 2vmax;
}

/* line 1050, ../sass/global.sass */
#frame-202 .answer img {
  position: absolute;
  display: block;
  top: -100%;
}

/* line 1055, ../sass/global.sass */
#frame-202 .answer-1 {
  left: 2.2%;
  top: 75%;
  width: 24.3%;
  height: 22.2%;
  background-image: url(../pics/test-cloud-1.png);
}

/* line 1060, ../sass/global.sass */
#frame-202 .answer-1:hover {
  background-image: url(../pics/test-cloud-1-hover.png);
}

/* line 1063, ../sass/global.sass */
#frame-202 .answer-2 {
  left: 38.15%;
  top: 78.2%;
  width: 25.05%;
  height: 20.8%;
  background-image: url(../pics/test-cloud-2.png);
}

/* line 1068, ../sass/global.sass */
#frame-202 .answer-2:hover {
  background-image: url(../pics/test-cloud-2-hover.png);
}

/* line 1071, ../sass/global.sass */
#frame-202 .answer-3 {
  left: 74.8%;
  top: 73.1%;
  width: 23.9%;
  height: 25.9%;
  background-image: url(../pics/test-cloud-3.png);
}

/* line 1076, ../sass/global.sass */
#frame-202 .answer-3:hover {
  background-image: url(../pics/test-cloud-3-hover.png);
}

/* line 1079, ../sass/global.sass */
#frame-202 .elname {
  left: 45.8%;
  top: 34%;
  width: 9.6%;
  height: 19.2%;
  font-size: 3vmax;
  text-align: center;
  color: black;
  padding: 1%;
  padding-top: 2%;
  opacity: 0;
}

/* line 1089, ../sass/global.sass */
#frame-202 .award {
  left: 75.25%;
  top: 1.9%;
  width: 23.45%;
  height: 11.4%;
  background-image: url(../pics/test-award-bg.png);
}

/* line 1094, ../sass/global.sass */
#frame-202 .award .label {
  font-size: 2vmax;
  width: 50%;
  height: 100%;
  text-align: right;
  padding: 3%;
  padding-top: 5%;
  float: left;
}

/* line 1103, ../sass/global.sass */
#frame-202 .award .plane-pic {
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  background-image: url(../pics/s9-plane.png);
  background-size: 100% 100%;
}

/* line 1111, ../sass/global.sass */
#frame-202 .result {
  font-size: 1.5vmax;
}

/*RESEARCH */
/* line 1116, ../sass/global.sass */
#frame-301 .bg-base {
  background-image: url(../pics/research-bg.png);
}

/* line 1120, ../sass/global.sass */
#frame-301 .question-1 {
  background-image: url(../pics/research-question-1.png);
}

/* line 1124, ../sass/global.sass */
#frame-301 .answer {
  background-image: url(../pics/research-atoms.png);
}

/* line 1128, ../sass/global.sass */
#frame-301 .check-button {
  left: 80.8%;
  top: 85%;
  width: 15.2%;
  height: 11.5%;
  background-color: #b7dae7;
  font-size: 2vmax;
  color: black;
  padding: 1.5%;
  border-radius: 10px;
}

/* line 1138, ../sass/global.sass */
#frame-301 .check-button:hover {
  background-color: black;
  color: white;
}

/* line 1142, ../sass/global.sass */
#frame-301 .back-button {
  left: 80.8%;
  top: 70%;
  width: 15.2%;
  height: 11.5%;
  background-color: #b7dae7;
  font-size: 2vmax;
  color: black;
  padding: 1.5%;
  border-radius: 10px;
}

/* line 1152, ../sass/global.sass */
#frame-301 .back-button:hover {
  background-color: black;
  color: white;
}
